<% content_for :head do %>
  <script>
    var InitialData = {
      weeks: <%= @weeks_json.html_safe %>,
      contestants: <%= @contestants.to_json.html_safe %>,
      eligibleContestants: <%= @eligible_contestants.to_json.html_safe %>,
      player: <%= @player_json.html_safe %>
    }
  </script>
<% end %>
<div ng-app='roses'>
  <div ng-controller='IndexCtrl'>
    <div class='index'>
      <ul>
        <li><a href='#' ng-click='showWinnerPick()'>Winner pick</a></li>
        <li ng-repeat='weeklyEntry in player.weekly_entries'>
          <a href='#' ng-click='showWeeklyEntry(weeklyEntry)'>{{weeklyEntry.week.name}}</a>
        </li>
      </ul>
    </div>
    <div class='content'>
      <div class='pick-winner' ng-show="show == 'winner'" ng-controller="PickWinnerCtrl">
        <form ng-controller='PickWinnerCtrl'>
          <label for='select-winner'>Who do you think will win?</label> 
          <select id='select-winner' ng-model="player.winner" ng-options="c.name for c in contestants" ng-change="updateWinnerPick()"></select>
        </form>
      </div>

      <div ng-show="show == 'week'" ng-controller='WeekCtrl'>
        <div class='weekly-picks'>
          <div class='header'>Picks</div>
          <div>{{weeklyEntry.week.name}}</div>
          <table>
            <tr>
              <th>Order</th>
              <th>Contestant</th>
              <th>Will get rose?</th>
              <th>Actual rose result</th>
            </tr>
            <tr ng-repeat="pick in picksForWeek(weeklyEntry)">
              <td>{{pick.rose_order}}</td>
              <td><select ng-model="pick.contestant" ng-options="c.name for c in eligibleContestants" ng-change="updatePick(pick)"></select></td>
              <td ng-class="{'rose': pick.rose, 'no-rose': !pick.rose}"><input ng-model="pick.rose" type="checkbox" ng-change="updatePick(pick)" ></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class='weekly-scorecard'>
          <div class='header'>Scoring</div>
          <div>Correct picks: {{weeklyEntry.correct_picks}}</div>
          <div>Final rose tiebreaker: {{weeklyEntry.final_rose_distance}}</div>
          <div>Standing: {{weeklyEntry.standing}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>
