<% content_for :head do %>
  <script>
    var InitialAdminData = {
      contestants: <%= @contestants.to_json.html_safe %>,
      eligibleContestants: <%= @eligible_contestants.to_json.html_safe %>,
      weeks: <%= @weeks.to_json.html_safe %>
    }
  </script>
<% end %>
<div ng-app='rosesAdmin'>
  <div ng-controller='AdminCtrl'>
    <div class='index'>
      <ul>
        <li><a href='#' ng-click='showContestants()'>Contestants</a></li>
        <li ng-repeat='week in weeks'>
          <a href='#' ng-click='showWeek(week)'>{{week.name}}</a>
        </li>
      </ul>
    </div>
    <div class='content'>
      <div ng-show="show == 'contestants'" ng-controller='ContestantsCtrl'>
        <table class='contestants'>
          <tr>
            <th>Contestant</th>
            <th>Eliminated?</th>
          </tr>
          <tr ng-repeat='c in contestants'>
            <td>{{c.name}}</td>
            <td><input ng-model="c.eliminated" type='checkbox' ng-change='updateContestant(c)'></td>
          </tr>
        </table>
      </div>
      <div ng-show="show == 'week'" ng-controller='WeeklyResultsCtrl'>
        <div class='weekly-results'>
          <div class='header'>Results</div>
          <div>{{week.name}}</div>
          <table>
            <tr>
              <th>Order</th>
              <th>Contestant</th>
              <th>Rose</th>
            </tr>
            <tr ng-repeat="result in weeklyResults(week)">
              <td>{{result.rose_order}}</td>
              <td><select ng-model="result.contestant" ng-options="c.name for c in eligibleContestants" ng-change="updateResult(result)"></select></td>
              <td ng-class="{'rose': result.rose, 'no-rose': !result.rose}"><input ng-model="result.rose" type="checkbox" ng-change="updateResult(result)" ></td>
            </tr>
          </table>
        </div>
        <div class='compute-scores'>
          <button ng-click="computeScores(week)">Compute Scores</button>
        </div>
      </div>
    </div>
  </div>
</div>

