<div class='header' style="padding-left:10px">Scoring</div>
<div class-'instructions'>
<br/>
  <table style='margin-left:10px'>
    <tr>
      <th>WEEK</th>
      <th>WHAT YOU NEED TO DO</th>
      <th>POINTS</th>
    </tr>
    <tr>
      <td>3</td>
      <td>Pick the one girl that Juan Pablo will end up with</td>
      <td>Bonus 10 points for picking the winner from the start</td>
    </tr>
    <tr>
      <td>3 - 6</td>
      <td>Make your picks of who gets roses each week</td>
      <td>Player with the most correct picks gets 3 pts, second gets 2 pts, third gets 1 pt. The final rose pick is used as the tiebreaker.</td>
    </tr>
    <tr>
      <td>7</td>
      <td>This is the week before hometowns. Lock in who you want to be your final four and the order of elimination</td>
      <td>1 point for each correct pick, regardless of how other players do</td>
    </tr>
    <tr>
      <td>8-10</td>
      <td>No more picking!</td>
      <td>1 point for each correct pick, regardless of how other players do</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Finale party - details TBD</td>
      <td>Winner determined from cumulative total of all weeks + bonus winner pick</td>
    </tr>
  </table>
</div>

<br/>
<br/>

<div class='header' style="padding-left:10px">How to pick</div>
<ol>
  <li>From the header menu, click on <%= link_to "Picks", player_path(@player) %>.</li>
  <li>On the left side, click on "Winner pick" to predict who you think will win.  This choice can only be made during Week 3.</li>
  <li>On the left side, click on the week you want to make picks for.</li>
  <li>For each pick, use the dropdown to pick the contestant and the checkbox to pick whether or not they get a rose. Changes are saved automatically.</li>
  <li>The order is important since the person you pick for the final rose is used as a tiebreaker.</li>
  <li>Picks will be locked down (i.e. ineditable) at around 8 PM each Monday before the episode airs.</li>
</ol>
</div>
